__pycache__
rocm-venv
cuda-venv
build
cuda-venv
rocm-venv
dist
misc
faster-whisper-large-v3
faster-whisper-large-v3-turbo
audio.wav
log.log
script.txt
director_xxl.py
processor.py
cli.spec
gui.spec
output.lrc
output.lrc.txt